snippet #!
	#!/usr/bin/env ruby
snippet rq
	require '${1}'
snippet d
	do
		${1}
	end
snippet do
	do |${1}|
		${2}
	end
snippet def
	def ${1}
		${2}
	end
snippet defs
	def self.${1}
		${2}
	end
snippet :
	:${1} => ${2}
snippet .
	self.${1}
