; vim: ft=confini
[defaults]
# callbacks_enabled = timer, profile_tasks, profile_roles
display_skipped_hosts = False
force_valid_group_names = ignore
gather_facts = False
gathering = smart
interpreter_python = auto_silent
inventory = ~/.config/ansible/hosts
nocows = 1
pipelining = True
strategy_plugins = /usr/lib/python3.14/site-packages/ansible_mitogen/plugins/strategy/
# For some reason, the latest air server becomes CPU-exhausted when
# running w/ strategy=mitogen_linear
# strategy = mitogen_host_pinned
strategy = host_pinned
use_persistent_connections = True

[diff]
always = 1
