configuration {
  combi-modes: [drun,run];
  matching: "fuzzy";
  sorting-method: "fzf";
  drun-show-actions: true;

  font: "Monospace 20";
  combi-display-format: "{text}";
  show-icons: true;
}

@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
