snippet rc "React Component Boilerplate"
import React from 'react'

const `!p snip.rv = snip.basename` = () => (
	<div>SHIT</div>
)

export default `!p snip.rv = snip.basename`
endsnippet

snippet sx "<style jsx>" b
<style jsx>{\`
	$0
\`}</style>
endsnippet

snippet cn "className" w
className="$1"$0
endsnippet

snippet maps "mapState"
const mapState = (state) => ({
	$0
})
endsnippet

snippet mapd "mapDispatch"
const mapDispatch = (dispatch, props) => ({
	$0
})
endsnippet
