snippet html "HTML boilerplate" !b
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>${1:Title}</title>
</head>
<body>
  $0
</body>
</html>
endsnippet

snippet = "attribute"
${1:class}="${2:}"
endsnippet

snippet input "<input>"
<input type="${1:hidden}" name="${2:some_name}" value="${3}" />${0}
endsnippet

snippet link "<link>"
<link rel="${1:stylesheet}" href="${2:/css/master.css}" type="text/css" />${0}
endsnippet
