snippet tv "<TextView>" b
<TextView
	android:layout_width="wrap_content"
	android:layout_height="wrap_content"
	android:text="@string/$1" />$0
endsnippet

snippet ap "Android Property"
android:$1="$2"$0
endsnippet

snippet ae "Android Element" b
<$1
	android:layout_width="wrap_content"
	android:layout_height="wrap_content"$2 />
endsnippet

snippet aid "Android ID Property"
android:id="@+id/$1"$0
endsnippet

snippet as "Android String Element"
<string name="$1">$2</string>
endsnippet
