snippet nbs
	&nbsp;
snippet s
	<script>
		${1}
	</script>${2}
snippet ss
	<script src="${1}.js"></script>
	${2}
snippet style
	<style type="text/css" media="${1:screen}">
		${2}
	</style>${3}
snippet form
	<form action="${1:`Filename('$1_submit')`}" method="${2:POST}">
		${3}
		<button type="submit" name="submit">${4:OK}</button>
	</form>
snippet mailto
	<a href="mailto:${1:joe@example.com}?subject=${2:feedback}">${3:email me}</a>
snippet cmt
	<!-- ${1} -->
