snippet o
	{{ ${1} }}
snippet t
	{% ${1} %}
snippet if
	{% if ${1} %}
		${2}
	{% endif %}
snippet for
	{% for ${1} in ${2} %}
		${3}
	{% endfor %}
snippet ass
	{% assign ${1} = ${2} %}
snippet cap
	{% capture ${1} %}
		${2}
	{% endcapture %}
