snippet #!
	#!/usr/bin/env ruby
snippet rq
	require '${1}'
snippet d
	do
		${1}
	end
snippet do
	do |${1}|
		${2}
	end
snippet def
	def ${1:initialize}
		${2}
	end
snippet defs
	def self.${1}
		${2}
	end
snippet :
	:${1} => ${2}
snippet .
	self.${1}
snippet des
	describe "${1}" do
		${2}
	end
snippet it
	it "${1}" do
		${2}
	end
snippet utf8
	# encoding: utf-8
